body {
    overflow-x: hidden;
}
.main-page-header {
    height: 100%;
    padding: 20px;
    background: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.border {
    background: #bdf3b7;
    height: 70px;
    width: 104px;
}
.apendix-bordering {
    height: 100%;
    background: #282c34;
    display: flex;
    position: relative;
    align-self: flex-end;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.apendix {
    width: 100%;
    background: #bdf3b7;
    height: 70px;
    align-self: flex-end;
    border-radius: 20px 12px 0 0;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
    align-items: center;
}
.apendix button {
    background: #282c34;
    color: white;
    padding: 12px 25px;
    outline: none;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid transparent;
}
.contact-us-button {
    background: #bdf3b7;
    color: #282c34;
    padding: 5px 25px;
    outline: none;
    border-radius: 22px;
    position: absolute;
    right: 0;
    margin-right: 10%;
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    align-self: end;
    border: 1px solid transparent;
}
.contact-us-button:hover {
    background: #282c34;
    border: 1px solid #bdf3b7;
    color: #bdf3b7;
}
.apendix button:hover {
    background: #bdf3b7;
    border: 1px solid #282c34;
    color: #282c34;
}

.contact-form-button {
    background: #bdf3b7;
    color: #282c34;
    padding: 15px 25px;
    outline: none;
    width: 100%;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    align-self: end;
    border: 1px solid transparent;
}
.contact-form-button:hover {
     background: #bdf3b7;
     border: 1px solid #282c34;
     color: #282c34;
}
.lightbulb {
    margin-top: 30px;
    margin-right: 10vw;
}
.h1-title h1 {
    color: #282c34 !important;
    width: 40vw;
}

@media screen and (max-width: 1070px) {
    .h1-title h1 {
        font-size: 30px !important;
    }
    .become-client h1 {
        font-size: 35px !important;
    }
}
@media screen and (max-width: 1070px) {
    nav {
        width: 100% !important;
    }
    .header-img-format {
        border-radius: 12px !important;
    }
}
.loading-contact-form {
    position: absolute;
    background: white;
    width: 305px;
    height: 429px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.succes-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-img-format {
    height: 650px;
    border-radius: 12px;
    background: url("../components/background.svg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.become-client h1 {
    color: #282c34 !important;
}
.contact-buttom {
    cursor: pointer;
    position: absolute;
    right: 90px;
    top: 35px;
    background: #282c34;
    color: white;
    padding: 10px 2vw;
    border-radius: 20px;
    transition: 0.3s;
    border: 1px solid transparent;
}
.contact-buttom:hover {
    background: #bdf3b7;
    color: #282c34;
    border: 1px solid #282c34;
}
@media screen and (max-width: 1270px) {

    .contact-buttom {
        display: none;
    }
}
.header-text {
    color: #282c34;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    height: 80%;
}
.header-text h1 {
    color: white;
}
.become-client-form {
    display: flex;
}
.header-text-form {
    background: transparent;
    border: none;
    border-bottom: 1px solid #282c34;
    padding: 15px 15px;
    width: 300px;
    font-size: 18px;
}
.header-text-form:focus {
    background: #addea7;
    outline: none;
}
.header-text-form-button {
    background: transparent;
    width: 60px;
    height: 60px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 1px solid #282c34;
}
.header-text-form-button:hover {
    background-color: #282c34;
    color: #fff;
}
.become-client {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.header-text h4 {
    color: #e8e8e8;
    font-size: 25px;
    text-align: left;
    border-bottom: 2px solid #fafafa;
    font-weight: 300;
    padding-bottom: 12px;
}
.header-text h1 {
    text-align: left;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
    width: 40vw;
}
.header-text h1 span {
    color: #bdf3b7;
}
@media screen and (max-width: 1640px) {
    .pricing-carousel{
        justify-content: left;
    }

}
.always-included {
    background: #fafafa;
    border: 1px solid #e0e0e0;
}
.pricing-box h2 {
    text-align: left;
    font-weight: 900;
}
.pricing-box p {
    text-align: left;
}
.pricing-box h1 {
    text-align: left;
    margin-top: auto;
    font-weight: 900;
}
.variable-price {
    margin-top: auto;
    font-size: 12px;
}
.website-carousel {
    display: flex;
    justify-content: center;
}
.services-an {
    display: flex;
    background: url("../components/backgroundServices.svg");
    background-position: center;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .services-an h1 {
        margin: 0 5vw;
    }
    .services-an p {
        margin: 0 5vw;
    }
}
.services-an h1 {
    font-weight: 500;
    font-size: 30px;
    color: #282c34;
    text-align: left;
}
.services-desc {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
}
.services-desc h4 {
    text-align: left;
    margin: 0;
    font-size: 20px;
    padding-top: 10px;
    color: #282c34;
}
.services-desc p {
    font-size: 16px !important;
    font-weight: 400 !important;
}
.map-section {
    background: url("https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.services-an-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
}
.services-sidebyside {
    display: flex;
    justify-content: center;
    gap: 40px;
}
@media screen and (max-width: 1430px) {
    .services-an-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.services-image-bg {
    flex: 1;
    height: 40vh;
    width: 50vw;
    transition: visibility 0s, opacity 0.5s linear;
    display: flex;
    flex-direction: column-reverse;
    background-size: cover !important;
    background-position: center !important;
}
@media screen and (max-width: 800px) {
    .services-image-bg {
        display: none;
    }
    .arrow-service {
        display: none !important;
        color: #282c34;
    }
}
@media screen and (max-width: 600px) {
    .services-an-flex {
        justify-content: center;
    }
}
.service-margins {
    margin-left: 20px;
    margin-right: 20px;
}
.service-margins p {
    margin-bottom: 20px;
}
.services-an-background p {
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    color: #282c34;
}
.services-an-background button {
    background: #282c34;
    border: none;
    color: white;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    padding: 15px 30px;
    margin-top: 50px;
}
.services-an-background button:hover {
    color: #bdf3b7;
    padding: 15px 50px;
}
.services-an-background {
    padding: 50px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.service-an-item p {
    text-align: left;
    color: white;
    color: #282c34;
}
@media screen and (max-width: 1430px) {
    .service-an-item {
        flex-grow: 1;
        flex: 1 1 0px;
        width: fit-content;
    }
}
.service-an-item {
    background: #282c34;
    border-radius: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -4px rgba(0,0,0,0.75);
}
.arrow-service {
    color: #282c34;
}
.services-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1070px) {
    .services-logo {
        display: none;
    }
}
.services-logo img {
    opacity: 0.7;
}
.service-an-item h4 {
    color: #bdf3b7;
    font-size: 22px;
    margin: 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    transition: 0.3s;
}
.service-an-item h4:hover {
    color: #282c34;
    margin-right: 20px;
}

.choose-template-an {
    background: #282c34;
    padding-bottom: 70px;
}
.choose-template-an button {
    background: #282c34;
    border: none;
    color: white;
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.44);
    align-items: center;
    gap: 10px;
    font-size: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 15px 30px;
}
.choose-template-an p {
    display: flex;
    justify-content: center;
    color: #eeeeee;
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 30px;
    margin: 0 20px 20px 20px;
}
.choose-template-an button:hover {
    color: #282c34;
    background: #bdf3b7;
    padding: 15px 50px;
}

.choose-template-an h1 {
    margin-top: 0;
    padding-top: 30px;
    font-size: 40px;
    color: #bdf3b7;
}
.triangles {
    display: flex;
    position: relative;
    top: -47px;
}
.left-temp-sel {
    width: 0;
    height: 0;
    border-right: 50vw solid transparent;
    border-top: 0;
    border-bottom: 48px solid rgb(40, 44, 52);
}
.right-temp-sel {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-top: 0;
    border-bottom: 48px solid rgb(40, 44, 52);
}
.template-selector-an {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0 2vw;
    padding-bottom: 40px;
}
.template-img {
    background-size: cover;
    background-position: top;
    min-width: 350px;
    height: 240px;
    border-radius: 8px;
}
@media screen and (max-width: 533px) {
    .template-img {
        background-size: cover;
        background-position: top;
    }
}
.pricing-an h1 {
    margin: auto;
    font-size: 40px;
    color: #bdf3b7;
}
.pricing-an {
    padding: 0 6vw;
    background: #282c34;
    padding-bottom: 100px;
}
.pricing-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 70px;
}
@media screen and (max-width: 600px) {
    .pricing-flexbox {
        justify-content: center;
    }
}
.pricing-flexbox button {
    background: #282c34;
    border: none;
    color: white;
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.44);
    align-items: center;
    gap: 10px;
    font-size: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
    padding: 12px 0 12px 0;
}

.pricing-flexbox button:hover {
    color: #282c34;
    background: #bdf3b7;
}

.price-flexbox-inner {
    flex: 1;
    color: #282c34;
    background-image: url("../components/price.svg");
    background-size: cover;
    min-width: 250px;
    padding: 40px 15px 15px 15px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 1364px) {
    .price-flexbox-inner + .price-flexbox-inner {
        border-left: none;
    }
}
.price-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.price-item h3 {
    color: #282c34;
    text-decoration: line-through #f33838;
    margin: 5px;
    font-size: 25px !important;
    font-weight: 400;
}
@media screen and (max-width: 1410px) {
    .pricing-flexbox {
        justify-content: center;
        gap: 20px;
    }
}

.price-item h1 {
    font-weight: 800;
    margin: 0;
    color: #282c34;
}
.price-item h2 {
    font-weight: 700;
    color: #EA9500;
}
.price-item p {
    font-weight: 400;
    color: #282c34;
    font-size: 18px;
}

.faq {
    background: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 70px 20px;
    align-items: center;
}
.faq h1 {
    font-size: 40px;
    color: white;
}
.faq-tree {
    width: 85%;
    margin: auto;
}
.faq-tree-section .MuiTreeItem-label {
    font-size: 18px !important;
}
.faq-tree-section {
    text-align: left;
    color: #ffffff;
    font-size: 15px !important;
}
.faq-tree-item {
    background: rgba(15, 16, 21, 0.98);
}
.faq-tree-item .MuiTreeItem-label {
    color: #dedede;
    text-align: left;
    margin: 12px;
    font-size: 18px !important;
}

.footer-an {
    height: 500px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    width: 100%;
    align-items: center;
}
.footer-an-content {
    display: flex;
    width: 100%;
    padding: 0 7vw;
    flex-direction: row;
    justify-content: space-between;
}
.contact-header {
    margin: 0;
}
.footer-am-content-links {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer-am-content-links h2 {
    color: #282c34;
    font-size: 16px;
}
.footer-am-content-links p {
    color: #282c34;
    font-size: 16px;
    line-height: 16px;
}
.footer-am-content-links a {
    text-decoration: none;
    color: #282c34;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.description-area {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.listed {
    text-align: left !important;
    margin: 0;
    margin-bottom: 10px;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.brief {
    text-align: center;
    color: #5C7481;
    font-size: 16px !important;
    padding: 12px;
    border-bottom: 1px solid #5C7481;
}
.greyed {
    color: #a0abb0;
}
.grey-bg {
    background: rgba(158, 178, 156, 0.9);
    box-shadow: none;
}
.in {
    cursor: pointer;
}
.button-disabled {
    background: #757575 !important;
    color: #99b3c0 !important;
}
.navbar-withback {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.navbar-withback:hover {
    background: white;
}
.form-design {
    padding: 30px;
    max-width: 40%;
    margin: auto;
}
@media screen and (max-width: 890px) {
    .form-design {
        max-width: 100%;
    }
    .contact-us-button {
        display: none;
    }
    .lightbulb {
        display: none;
    }
    .header-text-form {
        width: 150px;
    }
}
.form-design h3{
    margin-top: 80px;
}
.stepper-design {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.form-designer-in {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.success-page {
    width: 100%;
    height: 66vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.success-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.success-title p {
    font-size: 18px;
    text-align: center;
}

.go-back {
    width: 100%;
    background: #104B31;
    color: white;
    padding: 15px;
    border: none;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.go-back:hover {
    background: #65daae;
    color: black;
}