.wrapper {}
nav {
    background: #282c34;
    width: 75%;

    gap: 33px;
    margin: auto;
    padding: 30px 40px;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    z-index: 999;
    transition: all 0.3s ease-out;
    border-radius: 0 0 18px 0;
}
.activnet {
    border-right: 1px solid white;
    padding-right: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;
}

nav a:hover {
    color: #bdf3b7;
    text-decoration: none;
}
.flex {
    display: grid;
    grid-template-columns: 40% 1fr;
    padding: 50px 0.5vw 0 0.5vw;
}
@media screen and (max-width: 1570px) {
    .flex {
        display: block;
    }
}
.form-flex-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}
.form h3 {
    text-align: center;
    color: #104B31;
    font-weight: 400;
    font-size: 18px;
}
.form p {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
}
.website-preview {
    padding-top: 20px;
}
.preview {
    -webkit-box-shadow: 0px 0px 63px -52px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 63px -52px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 63px -52px rgba(0,0,0,0.75);
}
.template {
}
.header {
    font-size: 35px;
    font-weight: 800;
}
.form-flex-box {
}

.stepper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.submit {
    width: 50%;
}

.preview-label h3 {
    color: #104B31;
    border-bottom: 1px solid #104B31;
    margin-bottom: 18px;
    padding-bottom: 15px;
}
.error {
    color: red;
    text-decoration: none;
    list-style: none;
    text-align: left;
}

.website-preview-frame {
    width: 100%;
}
.flex-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    .color {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
    .bordered {
        border: 1px solid black;
    }
}
.floating-button {
    position: absolute;
    bottom: 190px;
}

.template-selector {
    display: flex;
    overflow: auto;
    gap: 25px;
    justify-items: center;
    background: #fafafa;
}
.template-item {
    background-size: cover;
    background-position: center;
    min-width: 250px;
    height: 400px;
    cursor: pointer;
    transition: 0.3s;
}
.template-item:hover {
    border: 1px solid #279472;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}